.App {
  height: 99vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-container > h1 {
  font-size: 28px;
  display: flex;
  align-items: center;
}

.purple-color {
  color: #3a244a;
}

.red-color {
  color: #d72638;
}
